<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>



  <title>Newsfeed</title>

  <link rel="stylesheet" href="/profileAssets/css/style.css" />
  <link rel="stylesheet" href="/profileAssets/css/ionicons.min.css" />
  <link rel="stylesheet" href="/profileAssets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/inomash/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
  <link rel="stylesheet" href="/newsfeed/css/style.css">





</head>

<body>



  <div id="page-contents" style="margin-bottom: 500px">
    <div class="container" style="margin-top: 60px;margin-bottom:20px;">
      <div class="row">

        {{>profileTop2}}

        <div class="col-md-7">
          <div class="friend-list">
            <div class="row" id="row">
              <div class="create-post">
                <div class="row">
                  <div class="col-md-7 col-sm-7">
                    <div class="form-group">
                      {{#if Pimage}}
                      <img src="data:image/png;base64, {{Pimage}}" class="profile-photo-md">
                      {{else}}
                      <img src="/profileAssets/images/male.jpg" id="i" alt="user" name="user"
                        class="profile-photo-md" />
                      {{/if}}

                      <textarea name="texts" id="exampleTextarea" cols="80" rows="1" class="form-control"
                        placeholder="Write what you wish"></textarea>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-5">
                    <div class="tools">
                      <ul class="publishing-tools list-inline">
                        <li><a href="#"><i class="ion-compose"></i></a></li>
                        <li><a href="#"><i class="ion-images"></i></a></li>
                        <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                        <li><a href="#"><i class="ion-map"></i></a></li>
                      </ul>
                      <button class="btn btn-primary pull-right">Publish</button>
                    </div>
                  </div>
                </div>
              </div>
              <hgroup class="mb20" id="">
                <div id="result-info-head"></div>

              </hgroup>

              <button class="filter" id="filter-toggle"><i class="icon ion-ios-settings-strong"></i> Filter</button>
              <div id="filter" class="filter-div">
                <div class="toggle-switch switch-set">
                  <label class="switch">
                    <input type="checkbox" id="locationFilter" onchange="filter()" checked>
                    <span class="slider round"></span>
                  </label>
                  <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <strong>ACCORDING TO THE LOCATION</strong>
                  </div>
                </div>
                <div class="toggle-switch switch-set">
                  <label class="switch">
                    <input type="checkbox" onchange="filter()" id="skillFilter">
                    <span class="slider round"></span>
                  </label>
                  <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <strong>ACCORDING TO THE SKILL CATEGORY</strong>
                  </div>
                </div>

                <button class="filter" id="done">Done Filtering</button>
              </div>
              <div id="contentDiv" class="post-content-set">



              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 static">
          <div class="suggestions" id="sticky-sidebar">
            <h4 class="grey">Suggestions</h4>
            <div class="follow-user">
              <img src="/profileAssets/images/users/user-15.jpg" alt="" class="profile-photo-sm pull-left" />
              <div>
                <h5><a href="#">Sahran Khuwaja</a></h5>
                <a href="#" class="text-green">View Profile</a>
              </div>
            </div>
            <div class="follow-user">
              <img src="/profileAssets/images/users/user-12.jpg" alt="" class="profile-photo-sm pull-left" />
              <div>
                <h5><a href="#">Sameer Khuwaja</a></h5>
                <a href="#" class="text-green">View Profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{>footer}}

  <div id="spinner-wrapper">
    <div class="spinner"></div>
  </div>



  <script src="/profileAssets/js/jquery.sticky-kit.min.js"></script>
  <script src="/profileAssets/js/bootstrap.min.js"></script>
  <script src="/profileAssets/js/jquery.scrollbar.min.js"></script>
  <script src="/profileAssets/js/script.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/js/upload.js"></script>
  <script src="/js/mustache.js"></script>
  <script src="/js/handlebars.js"></script>
  <script src="/newsfeed/js/newsfeed.js"></script>
  {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> --}}
  <script src="/notification/js/notify.js"></script>

  <script id="newPost" type="text/x-handlebars-template">
             \{{#data}}
             <div class="post-content">
                  <div class="post-container">
                    <img src="data:image/png;base64,\{{Dp}}" alt="user" class="profile-photo-md pull-left" />
                    <div class="post-detail">
                      <div class="user-info">
                        <h5><a href="timeline.html" class="profile-link">\{{FirstName}} \{{LastName}} \{{CompanyName}}</a> <span
                            class="following">following</span></h5>
                        <p class="text-muted">Published a photo about 3 mins ago</p>
                      </div>
                    </div>
                  
                    <div id="carouselIndicators-\{{@index}}" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          \{{#Post}}
                        <li data-target="#carouselIndicators-\{{@../index}}"  data-slide-to="\{{@index}}" class="\{{#if @first}} active \{{/if}}"></li>
                        \{{/Post}}
                          
                         
                      </ol>
                       
                      <div class="carousel-inner">
                        
                             \{{#Post}}
                               \{{#if image}}
                                 <div class="item \{{#if @first}}active\{{/if}}">
                                   <img class="d-block img-fluid newsfeed-image" src="data:image/png;base64,\{{image}}" >
                                 </div>
                                 \{{else}}
                                 <div class="item \{{#if @first}}active\{{/if}}">
                                  <video controls class="set-video-controls">
                                      <source src="data:video/mp4;base64, \{{video}}"  >
                                  </video>
                                </div>
                                \{{/if}}
                             \{{/Post}}
                            
                                           
                      </div>
                       <a class="carousel-control-prev" href="#carouselIndicators-\{{@index}}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" ></span>
                        <i class="fa fa-arrow-left left-arrow set-indicators"></i>
                      </a>
                      <a class="carousel-control-next" href="#carouselIndicators-\{{@index}}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" ></span>
                        <i class="fa fa-arrow-right right-arrow set-indicators"></i>
                      </a>
                    </div>
                      <div class="post-detail set-reaction">
                      
                          <a class="btn text-green"><i class="fa fa-thumbs-o-up ico-set"></i> 13</a> 
                          <a class="btn text-red"><i class="fa fa-thumbs-o-down ico-set"></i> 0</a>
                          <a class="btn text-yellow"><i class="fa fa-comment-o ico-set"></i> 50</a>
                        
                        {{!-- <div class="line-divider"></div> --}}
                      </div>
                    </div>
                  </div>
              \{{/data}}
    </script>


</body>


</html>

<style>
  .upload {
    display: none;

  }

  .cursor {
    pointer-events: none;
    cursor: default;
  }

  .band {
    color: green;
  }

  input:checked+.slider {
    background-color: darkblue;
  }
</style>