<!DOCTYPE html>
<html lang="en">
	
{{>header}}
    <head>
  
		<title>Projects</title>
		<link rel="stylesheet" href="/profileAssets/css/style.css" />
		<link rel="stylesheet" href="/profileAssets/css/ionicons.min.css" />
    <link rel="stylesheet" href="/profileAssets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/inomash/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="/dropzone/css/dropzone.css" />
    <link  rel="stylesheet" href="/rating-review/css/star-rating.css">
    
    

    

    </head>
    <body>
      <div class="container" style="margin-bottom: 500px">
        <div class="timeline" id="timeline" style="margin-top: 50px;margin-bottom:20px;"> 
    
         {{>profileTop}}

         <div id="page-contents">



          
          <div class="row">
            
            <div class="col-md-3">
              
            
              <ul class="edit-menu" style="margin-top: 120px">
              	<li class="active" id="recent"><i class="icon ion-images active" id="basic"style=""></i><a href=""  id="basicInfo">Recent Posts</a></li>
              	<li><i class="icon ion-ios-photos-outline" ></i><a href="">Older Posts</a></li>
              	
              </ul>
            </div>

            <div class="col-md-7" id="main-content">
                <div class="edit-profile-container" id="info">
                 <div class="block-title">
                   <h4 class="grey"><i class="ion-ios-folder"></i>Projects</h4>
                 
                  
                  <div class="line"></div>
                </div>
                </div>
                {{#unless data}}
                <div class="col-md-3">
            <div class="card border-primary mb-3 create-project-thumbnail" id="createProject" data-toggle="modal" data-target="#createProjectModal">
               <div class="card-header">
                   <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
                   <h5 class="card-title">Create Project</h5>
                    
                     
               </div>
                 <div class="card-body text-primary">
                     
                     <p class="card-text">Create your project by clicking here and showcase it to the world. Companies will be lining up to hire you.
                     </p>
                 </div>
               </div>  
            </div>
              
              <div class="col-md-4">
            <div class="card border-primary mb-3 instruction-thumbnail">
               <div class="card-header">
                  
                   <h5 class="card-title">Instrctions</h5>
               </div>
                 <div class="card-body text-primary">
                     
                     <p class="card-text">
                       <ul style="text-align:left">
                         <li><b>STEP 1:</b> Create project</li>
                         <li><b>STEP 2:</b> Fill project setup form</li>
                         <li><b>STEP 3:</b> Upload images and videos</li>
                         <li><b>STEP 4:</b> Auto showcasing will occur</li>
                       </ul>
                     </p>
                 </div>
               </div>  
            </div>
             <div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog"  aria-hidden="true">
                       <div class="modal-dialog modal-lg dialog-set">
                         <div class="modal-content modal-set">
                           <div class="modal-header">
                             <h5 class="modal-title">Create Project  
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                             </button></h5>
                             </div>
                             <div class="modal-body">
                            
                            <div class="row">
   
                              <form id="msform">
         
                                 <ul id="progressbar">
                                  <li class="active">Project Details</li>
                                  <li>Project Description</li>
                                  <li>Finishing up</li>
                                </ul>
                                <fieldset>
                                  <h2 class="fs-title">Project Details</h2>
                                  <h3 class="fs-subtitle">Tell us about project</h3>
                                  <div class="form-group row">
                                    <label for="pTitle" class="col-sm-2 col-form-label label-set">Project Title</label>
                                    <div class="col-sm-10">
                                      <input type="Text" class="form-control input-set-msform" name="Title" id="pTitle" placeholder="Project Title" required/>
                                    </div>
                                  </div>
                                    <div class="form-group row">
                                    <label for="pType" class="col-sm-2 col-form-label label-set">Type</label>
                                    <div class="col-sm-10">
                                      <input type="Text" class="form-control input-set-msform" name="Type" id="pType" placeholder="Type" required/>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="pCat" class="col-sm-2 col-form-label label-set">Category</label>
                                    <div class="col-sm-10">
                                      <input type="Text" class="form-control input-set-msform" name="Category" id="pCat" placeholder="Category" required>
                                    </div>
                                  </div>
                                   <div class="form-group row">
                                    <label for="pTag" class="col-sm-2 col-form-label label-set">Tags</label>
                                    <div class="col-sm-10">
                                      <input type="Text" class="form-control" name="Tags" data-role="tagsinput" id="pTag" style="border: none;" placeholder="Tags - OPTIONAL" >
                                    </div>
                                  </div>
                                  
                                  <input type="button" name="next" class="next action-button" value="Next"/>
                                </fieldset>
                                <fieldset>
                                  <h2 class="fs-title">Project Description </h2>
                                  <h3 class="fs-subtitle">What best describes your project</h3>
                                  <div class="form-group row">
                                    <label for="pTech" class="col-sm-2 col-form-label label-set">Technology</label>
                                    <div class="col-sm-10">
                                      <input type="Text" class="form-control input-set-msform" name="Technology" id="pTech" placeholder="Technology or Language e.g Node js, React js, Adobe, C#, Java etc" required/>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="pDes" class="col-sm-2 col-form-label label-set">Description</label>
                                    <div class="col-sm-10">
                                      <textarea type="Text" class="form-control input-set-msform" name="Description" id="pDes" placeholder="Project Description" required></textarea>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="pGit" class="col-sm-2 col-form-label label-set">Git Repo</label>
                                    <div class="col-sm-10">
                                      <input type="Text" class="form-control input-set-msform" name="GitLink" id="pGit" placeholder="Git Repository Link - OPTIONAL"/>
                                    </div>
                    
                                  </div>
                                  <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                  <input type="button" name="next" class="next action-button" value="Next"/>
                                </fieldset>
                                <fieldset>
                                  <h2 class="fs-title">Finishing Up</h2>
                                  <h3 class="fs-subtitle">Finalize things</h3>
                                  <p class="para-set">
                                    I <b>agree</b> to the <a href="#">terms and conditions</a> of creating project on <b>ELIFIND</b>.
                                    <br>
                                    By creating the project, a new directory will be created. For showcasing, you have to nagivate to the project directory
                                    and then select desired category of files for showcasing (either images or videos). After that, you have to upload files
                                     (either images or videos depending on the selected category). Once, you have uploaded material for showcasing, your project 
                                     will be auto showcased to the companies and users of similar interests. This is individual project showcasing. You can upload 
                                     multiple videos and images as much as you want for a single project. For <b>Portfolio Showcasing</b>, which enables you to create
                                     multiple projects of same category in a single portfolio and each project has multiple images and videos, you can navigate to
                                     the portfolio section. List of instructions is also posted there, you can refer them. Make sure, that dont upload any kind or inapproriate things, which will result in permanant ban to the account. This is one of
                                     the professional site for professional use. You are welcomed to make most of it from our site. Upload projects as much as you can,
                                     if your work is truley notable, companies will be lining up to hire you. According to your projects and skills, our site will recommend
                                     you a list of companies and other users. So, showcase your best work to the world. 

                                     <br>
                                     For any kind of assistance, you can email
                                     us on <a href="mailto:ElifindK@gmail.com">ElifindK@gmail.com</a> or can post query to our official account 
                                     <a href="http://localhost:3000/Profile/View/5e065b5fdbf6fe51bcfe49e9/Timeline">ELIFIND</a> . Dont hesitate to ask, feel free to
                                     approach us. Our team is ready to assit you. For further information, visit to our official account 
                                      <a href="http://localhost:3000/Profile/View/5e065b5fdbf6fe51bcfe49e9/Timeline">ELIFIND</a>.
                                  
              
                                
                                      
                                  </p>
                                  <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                  <input type="button" id="create" name="create" class="submit action-button" value="Create"/>
                               </fieldset>
                            </form>        
                           </div>
                             </div>
                              <div class="modal-footer modal-foot-set">
                              <p>Copyright © 2020 Elifind. All rights reserved</p>
                           </div>  
                        </div>
                      </div>
                    </div>
            {{/unless}}
            {{!-- <div class="line custom"></div> --}}
                <h4 class="
                {{#if user}}
                set-title
                {{else}}
                set-title-visitor
                {{/if}}">List of Projects</h4>
                 <div class="line"></div>
                 <div id="projectsList"></div>
                 
          </div>
            
            <div class="col-md-2 static">  
              <div id="sticky-sidebar">
                <h4 class="grey">
                  {{#if data}}
                     {{#if data.CompanyName}}
                        {{data.CompanyName}}'s Activity
                     {{else}}
                        {{data.FirstName}}'s Activity
                     {{/if}}
                  {{else}}
                  My Activity
                  {{/if}}
                  
                  </h4>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">Profile Created</a></p>
                    <p class="text-muted">{{created}}</p>
                  </div>
                </div>

                {{#if updated}}
                 <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">Last Updated</a></p>
                    <p class="text-muted">{{updated}}</p>
                  </div>
                </div>
                {{/if}}

                <div id="messageBoxDiv">

                 </div>
                
                
              </div>
            </div>

      



          </div>
        </div>
        
        </div>
      </div>

      <div class="container-fluid" id="video" style="margin-top: 100px;margin-bottom:300px;">
        <div class="row h-10 w-100">
            <div class="col">
                <select id="filter" class="w-100 bg-dark text-light ml-2 mt-2 select font-weight-bold border">
                    <option value="none">Normal</option>
                    <option value="grayscale(100%)">B & W</option>
                    <option value="sepia(100%)">Old School</option>
                    <option value="contrast(150%)">Lumination</option>
                    <option value="blur(20px)">Hidden Mist</option>
                    <option value="invert(100%)">Dracula</option>
                    <option value="hue-rotate(180deg">X-men Beast</option>
                    <option value="saturate(25)">Super Saiyan God</option>
                </select>
            </div>
            <div class="col">
                <div class="float-right mt-3" style="margin-left:10px">
                    <input class="form-check-input" type="checkbox" id="theme">
                    <label class="form-check-label" for="theme">
                        Dark Theme
                    </label>
                </div>
            </div>
        </div>
        <div class="row h-90 w-100">
            <div class="col-12 col-sm-6 d-flex justify-content-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" muted></video>
                </div>
                <button class="btn btn-primary" style="margin-top: 25px;" id="end" >End Call</button>
            </div>
            <div class="col-12 col-sm-6 d-flex justify-content-center">
                <div id="peerDiv" class="embed-responsive embed-responsive-16by9">
                </div>
            </div>
        </div>
    </div> 

   


    </body>
    {{>footer}}
 
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

     <script src="/profileAssets/js/jquery-3.1.1.min.js"></script>
    <script src="/profileAssets/js/bootstrap.min.js"></script>
    <script src="/profileAssets/js/jquery.sticky-kit.min.js"></script>
    <script src="/profileAssets/js/jquery.scrollbar.min.js"></script>
    <script src="/profileAssets/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/upload.js"></script>
    <script src="/js/subNavHandler.js"></script>
    <script src="/project-portfolio/js/project.js"></script>
    <script src="/project-portfolio/js/form.js"></script>
    <script src="/js/bootstrap-tagsinput.js"></script>
    <script src="/company/js/jquery.validate.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="/dropzone/js/dropzone.js"></script>
    <script src="/rating-review/js/star-rating.js"></script> 
    
    <script id="project-thumbnail" type="text/x-handlebars-template">
  
         \{{#Projects}}
          <div class="col-md-4 project">
                    <div class="box">
                        <img src="/project-portfolio/images/project2.jpg">
                        <h3 class="title">\{{Title}}</h3>
                        <div class="box-content">
                    
                           <a href="javascript:open('\{{_id}}',
                           '\{{Ratings.total}}','\{{Ratings.average}}',
                           '\{{Ratings.rating.1}}', '\{{Ratings.rating.2}}', '\{{Ratings.rating.3}}', '\{{Ratings.rating.4}}',
                            '\{{Ratings.rating.5}}'
                           )"> <i class="fa fa-folder-open-o fa-4x icon-set " aria-hidden="true"></i></a>
 
                            
                        </div>
                    </div>
                     <input class="rating rating-loading rated" value="\{{Ratings.average}}" data-min="0" data-max="5" data-step="0.5" data-size="lg">
                     <span style="float: right;"><span class="glyphicon glyphicon-user"></span>\{{Ratings.total}} \{{^Ratings}} 0 \{{/Ratings}} total ratings</span>
                  
                </div> 
          \{{/Projects}}
       
                 
    </script>
    <script id="directory" type="text/x-handlebars-template">
      <div id="page-contents2" class="back">
          <div class="row">
            <div class="col-md-3">
              <ul class="edit-menu" style="margin-top: 120px">
              	<li class="active" id="pDetails"><i class="icon ion-information-circled active" id="pD"style=""></i><a href="" id="projectDetails">Project Details</a></li>
              	<li id="pFiles"><i class="icon ion-ios-folder-outline" id="pF" ></i><a href="" id="projectFiles">Project Files</a></li>
                <li id="pRatings"><i class="icon ion-ios-heart-outline" id="pR" ></i><a href="" id="projectRatings">Rating and Review</a></li>

              </ul>
            </div>
            

            <div class="col-md-7" id="main-content-directory">
                <div class="edit-profile-container" id="info">
                 <div class="block-title">
                   <h4 class="grey"><i class="ion-ios-folder"></i><a href="javascript:back()">Projects</a> / \{{Project.Title}}
                   
                   </h4>  
                  <div class="line"></div>
                </div>
                </div>
                
              <div class="about-profile" id="projectDetailsSection">
                <div class="about-content-block">
                  <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Project Description</h4>
                  <p>\{{Project.Description}}</p>
                </div>
                <div class="about-content-block">
                  <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Project Details</h4>
                 
                  <div class="organization">
                    <img src="/images/ico.png" alt="" class="pull-left img-org" />
                    <div>
                      <p class="set-view"><strong>Title:</strong> \{{Project.Title}}</p>
                    </div>

                  </div>
                   <div class="organization">
                    <img src="/images/ico.png" alt="" class="pull-left img-org" />
                    <div>
                      <p class="set-view"><strong>Type:</strong> \{{Project.Type}}</p>
                    </div>

                  </div>
                   <div class="organization">
                    <img src="/images/ico.png" alt="" class="pull-left img-org" />
                    <div>
                      <p class="set-view"><strong>Category:</strong> \{{Project.Category}}</p>
                    </div>

                  </div>
                   <div class="organization">
                    <img src="/images/ico.png" alt="" class="pull-left img-org" />
                    <div>
                      <p class="set-view"><strong>Tags:</strong>
                      \{{#Project.Tags}}
                       \{{Project.Tags}}
                      \{{/Project.Tags}}
                      \{{^Project.Tags}}
                        No tags
                       \{{/Project.Tags}}
                       </p>
                    </div>

                  </div>
                </div>
                <div class="about-content-block">
                  <h4 class="grey"><i class="ion-laptop icon-in-title"></i>Platform</h4>
                     <div class="organization">
                    <img src="/images/ico2.png" alt="" class="pull-left img-org" />
                    <div>
                      <p class="set-view"><strong>Technology:</strong> \{{Project.Technology}}</p>
                    </div>

                  </div>
                </div>
                <div class="about-content-block">
                  <h4 class="grey"><i class="ion-social-github icon-in-title"></i>Git Repository</h4>
                    <div class="organization">
                    <img src="/images/ico3.png" alt="" class="pull-left img-org" />
                    <div>
                      <p class="set-view"><strong>Link:</strong>
                      \{{#Project.GitLink}}
                       <a href="\{{Project.GitLink}}">\{{Project.GitLink}}</a>
                      \{{/Project.GitLink}}
                      \{{^Project.GitLink}}
                        No Git Repository
                       \{{/Project.GitLink}}
                       </p>
                    </div>

                  </div>
                </div>
              </div> 
               <div class="about-profile" id="projectFilesSection">
               
               <div class="btn-group btn-group-toggle set-style-section-project-toggle" data-toggle="buttons">
                   <label class="btn btn-secondary active set-width" id="albumSecLabel">
                      <input type="radio" name="options" id="albumSec" autocomplete="off" checked> 
                       <i class="icon ion-images set-icon-prop" ></i>
                   </label>
                   <label class="btn btn-secondary set-width" id="videoSecLabel">
                      <input type="radio" name="options" id="videoSec" autocomplete="off">
                       <i class="icon ion-ios-videocam set-icon-prop"></i>  
                   </label>
               </div>
               
              </div>
              <div class="about-profile" id="projectRatingsSection">
                 
       
              </div>

          </div> 
            <div class="col-md-2 static">  
              <div id="sticky-sidebar">
                <h4 class="grey">
                  {{#if data}}
                     {{#if data.CompanyName}}
                        {{data.CompanyName}}'s Activity
                     {{else}}
                        {{data.FirstName}}'s Activity
                     {{/if}}
                  {{else}}
                  My Activity
                  {{/if}}
                  </h4>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">Project Created</a></p>
                    <p class="text-muted">\{{createdAt}}</p>
                  </div>
                </div>
                 <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">Project Updated</a></p>
                    <p class="text-muted">\{{updatedAt}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </script>
    <script id="albumSection" type="text/x-handlebars-template">
        <div id="aS">
        <div class="edit-profile-container">
            <div class="block-title">
              {{#unless data}}
              <div class="set-div-upload">
              <i class="icon ion-ios-cloud-upload set-upload-icon"data-toggle="modal" data-target="#uploadImagesModal"></i>
              {{!-- <label class="set-upload-text" data-toggle="modal" data-target="#uploadImagesModal" >ADD</label> --}}
              </div>
              <div class="modal fade" id="uploadImagesModal" tabindex="-1" role="dialog"  aria-hidden="true">
                       <div class="modal-dialog modal-lg dialog-set">
                         <div class="modal-content modal-set">
                           <div class="modal-header">
                             <h5 class="modal-title">Upload Images
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                             </button></h5>
                             </div>
                             <div class="modal-body">
                               <form action="/Profile/Projects/Album/Upload" method="POST" enctype="multipart/form-data" 
                               class="dropzone needsclick dz-clickable " id="dropzoneImages">
                               <input type="text" value="\{{id}}" name="id" hidden/>
                               </form>
                            
                               <button class="btn btn-primary set-done-upload-button" data-dismiss="modal"aria-label="Close">Done Uploading</button>
                             </div>
                           
                              <div class="modal-footer modal-foot-set">
                              <p>Copyright © 2020 Elifind. All rights reserved</p>
                           </div>  
                        </div>
                      </div>
                      
                    </div>
              {{/unless}}
                <h4 class="grey set-view-heading">Album </h4> 
  
                    <div class="line"></div>
            </div>
            
        </div>
       
                              
        <div class="album-photos">
            
                <ul class="album-photos" id="albumPhotos">
                \{{#data}}
                <li>
                  <div class="img-wrapper" data-toggle="modal" data-target="#photo-\{{_id}}">
                    <img class="set-image-thumbnail"src="data:image/png;base64, \{{image}}" alt="photo"/>
                  </div>
                  <div class="modal fade" id="photo-\{{_id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        
                        <img src="data:image/png;base64,\{{image}}" alt="photo" />
                      </div>
                    </div>
                  </div>
  
                </li>
                \{{/data}}
               
              </ul>

              
        </div>
          </div>
    </script>
    <script id="albumListItem" type="text/x-handlebars-template">
                \{{#data}}
                <li>
                  <div class="img-wrapper" data-toggle="modal" data-target="#photo-\{{_id}}">
                    <img class="set-image-thumbnail"src="data:image/png;base64, \{{image}}" alt="photo"/>
                  </div>
                  <div class="modal fade" id="photo-\{{_id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <img src="data:image/png;base64,\{{image}}" alt="photo" />
                      </div>
                    </div>
                  </div>
               </li>
               \{{/data}}

    </script>
    <script id="videoSection" type="text/x-handlebars-template">
       <div id="vS">
          <div class="edit-profile-container set-ablum-view">
            <div class="block-title">
              {{#unless data}}
               <div class="set-div-upload">
              <i class="icon ion-ios-cloud-upload set-upload-icon"data-toggle="modal" data-target="#uploadVideosModal"></i>
              </div>
              <div class="modal fade" id="uploadVideosModal" tabindex="-1" role="dialog"  aria-hidden="true">
                       <div class="modal-dialog modal-lg dialog-set">
                         <div class="modal-content modal-set">
                           <div class="modal-header">
                             <h5 class="modal-title">Upload Videos
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                             </button></h5>
                             </div>
                             <div class="modal-body">
                               <form action="/Profile/Projects/Video/Upload" method="POST" enctype="multipart/form-data" 
                               class="dropzone needsclick dz-clickable " id="dropzoneVideos">
                               <input type="text" value="\{{id}}" name="id" hidden/>
                               </form>
                            
                               <button class="btn btn-primary set-done-upload-button" data-dismiss="modal"aria-label="Close">Done Uploading</button>
                             </div>
                           
                              <div class="modal-footer modal-foot-set">
                              <p>Copyright © 2020 Elifind. All rights reserved</p>
                           </div>  
                        </div>
                      </div>
                      
                    </div>
              {{/unless}}
                <h4 class="grey set-view-heading">Videos</h4>
                <div class="line"></div>
            </div>
          </div>
       
                    <div class="media">
            	<div class="row js-masonry" id="videosList" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
               \{{#data}}
                <div class="grid-item col-md-6 col-sm-6">
            			<div class="media-grid">
                    <div class="img-wrapper" data-toggle="modal" data-target="#video-\{{_id}}">
                      <video controls class="set-video-controls">
                        <source src="data:video/mp4;base64, \{{video}}"  >
                      </video>
                    </div>
                    <div class="media-info">
                      <div class="reaction">
                        <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 46</a>
                        <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 11</a>
                      </div>
                      <div class="user-info">
                        
                        <div class="user set-uploaded-time">
                          <a href="#" class="profile-link ">Posted</a>
                           \{{created}}
                        </div> 
                       
                      </div>
                    </div>
                    <div class="modal fade modal-1" tabindex="-1" role="dialog" id="video-\{{_id}}" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="post-content">
														<div class="video-wrapper">
															<video controls class="set-video-controls">
																<source src="data:video/mp4;base64, \{{video}}" >
															</video>
														</div>
                            <div class="post-container">
                              <img src="data:image/png;base64, {{image}}" alt="user" class="profile-photo-md pull-left" />
                              <div class="post-detail">
                                <div class="user-info">
                                  <h5><a href="/Profile/View/{{user._id}}/Timeline" class="profile-link">{{user.FirstName}} {{user.LastName}} {{data.FirstName}} {{data.LastName}}</a> <span class="following">following</span></h5>
                                  <p class="text-muted">Published a video about \{{created}}</p>
                                </div>
                                <div class="reaction">
                                  <a class="btn text-green"><i class="icon ion-thumbsup"></i> 46</a>
                                  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 11</a>
                                </div>
                                <div class="line-divider"></div>
                                <div class="post-text">
                                  <p>This video is uploaded for the purpose of showcasing. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                                </div>
                                <div class="line-divider"></div>
                                <div class="post-comment">
                                  <img src="data:image/png;base64, {{image}}" alt="" class="profile-photo-sm" />
                                  <p><a href="/Profile/View/{{user._id}}{{data._id}}/Timeline" class="profile-link">{{user.FirstName}} {{user.LastName}} {{data.FirstName}} {{data.LastName}} </a><i class="em em-laughing"></i> Quite amazing! </p>
                                  <p class="text-muted set-para"> \{{created}}</p>
                                  
                                </div>
                                <div class="post-comment">
                                  <img src="data:image/png;base64, {{image}}" alt="" class="profile-photo-sm" />
                                  <p><a href="/Profile/View/{{user._id}}/Timeline" class="profile-link">{{user.FirstName}} {{user.LastName}} {{data.FirstName}} {{data.LastName}}</a><i class="em em-laughing"></i> It is so beautiful</p>
                                  
                                  <p class="text-muted set-para"> \{{created}}</p>
                                </div>
                                <div class="post-comment">
                                  <img src="data:image/png;base64, {{image}}" alt="" class="profile-photo-sm" />
                                  <input type="text" class="form-control" placeholder="Post a comment">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                 </div>
                 </div>
               \{{/data}}
                  </div>
            		</div>
        </div>

    </script>
    <script id="videoListItem" type="text/x-handlebars-template">
             \{{#data}}
             <div class="grid-item col-md-6 col-sm-6">
            			<div class="media-grid">
                    <div class="img-wrapper" data-toggle="modal" data-target="#video-\{{_id}}">
                      <video controls class="set-video-controls">
                        <source src="data:video/mp4;base64, \{{video}}"  >
                      </video>
                    </div>
                    <div class="media-info">
                      <div class="reaction">
                        <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 46</a>
                        <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 11</a>
                      </div>
                      <div class="user-info">
                        
                        <div class="user set-uploaded-time">
                          <a href="#" class="profile-link ">Posted</a>
                           \{{created}}
                        </div> 
                       
                      </div>
                    </div>
                    <div class="modal fade modal-1" tabindex="-1" role="dialog" id="video-\{{_id}}" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="post-content">
														<div class="video-wrapper">
															<video controls class="set-video-controls">
																<source src="data:video/mp4;base64, \{{video}}" >
															</video>
														</div>
                            <div class="post-container">
                              <img src="data:image/png;base64, {{image}}" alt="user" class="profile-photo-md pull-left" />
                              <div class="post-detail">
                                <div class="user-info">
                                  <h5><a href="/Profile/View/{{user._id}}/Timeline" class="profile-link">{{user.FirstName}} {{user.LastName}}</a> <span class="following">following</span></h5>
                                  <p class="text-muted">Published a video about \{{created}}</p>
                                </div>
                                <div class="reaction">
                                  <a class="btn text-green"><i class="icon ion-thumbsup"></i> 46</a>
                                  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 11</a>
                                </div>
                                <div class="line-divider"></div>
                                <div class="post-text">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                                </div>
                                <div class="line-divider"></div>
                                <div class="post-comment">
                                  <img src="data:image/png;base64, {{image}}" alt="" class="profile-photo-sm" />
                                  <p><a href="/Profile/View/{{user._id}}/Timeline" class="profile-link">{{user.FirstName}} {{user.LastName}} </a><i class="em em-laughing"></i> Quite amazing! </p>
                                  <p class="text-muted set-para"> \{{created}}</p>
                                  
                                </div>
                                <div class="post-comment">
                                  <img src="data:image/png;base64, {{image}}" alt="" class="profile-photo-sm" />
                                  <p><a href="/Profile/View/{{user._id}}/Timeline" class="profile-link">{{user.FirstName}} {{user.LastName}}</a><i class="em em-laughing"></i> It is so beautiful</p>
                                  
                                  <p class="text-muted set-para"> \{{created}}</p>
                                </div>
                                <div class="post-comment">
                                  <img src="data:image/png;base64, {{image}}" alt="" class="profile-photo-sm" />
                                  <input type="text" class="form-control" placeholder="Post a comment">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                 </div>
                 </div>
                 \{{/data}}
    </script>
    <script id="avgRating" type="text/x-handlebars-template">
      <div id="stats">
        <h4 class="set-title-visitor">Ratings</h4>
        <div class="line"></div>
        <div class="well well-sm">
             <div class="row">
                  <div class="col-xs-12 col-md-6 text-center">
                       <h1 class="rating-num">
                          \{{ratings.average}}
                          \{{^ratings.average}} 0 \{{/ratings.average}}
                          </h1>
                        <div class="rating2">
                            <input class="rating rating-loading staticRated" value="\{{ratings.average}}" data-min="0" data-max="5" data-step="0.1" data-size="md">
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-user"></span>\{{ratings.total}} \{{^ratings.total}} 0 \{{/ratings.total}} total
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="row rating-desc">
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>5
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: \{{ratings.fiveStar}}">
                                        <span class="sr-only">\{{ratings.fiveStar}}</span>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>4
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar " role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: \{{ratings.fourStar}};">
                                        <span class="sr-only">\{{ratings.fourStar}}</span>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>3
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: \{{ratings.threeStar}}">
                                        <span class="sr-only">\{{ratings.threeStar}}</span>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>2
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: \{{ratings.twoStar}}">
                                        <span class="sr-only">\{{ratings.twoStar}}</span>
                                    </div>
                                </div>
                            </div>
                           
                           <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>1
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100" style="width: \{{ratings.oneStar}}">
                                        <span class="sr-only">\{{ratings.oneStar}}</span>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="userRating" type="text/x-handlebars-template">
    <h4>Your Rating</h4>
    <input class="rating rating-loading rate" value="\{{value}}" data-min="0" data-max="5" data-step="0.1" data-size="xl">
    <span id="ratedTime">\{{time}}</span>
    
    </script>


</html>

<style>


.upload{
  display: none;
  
}
.cursor{
  pointer-events:none;
  cursor: default;
}
.band{
  color: green;
}
textarea.form-control{
  height: 135px !important;
}

</style>