<title>ELIFIND</title>

<link rel="icon" href="/images/4-c.png">
<link href="/asset/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/font-awesome.min.css" rel="stylesheet">

<link href="/css/animate.css" rel="stylesheet">

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="/chat/styles/chat.css">
<link rel="stylesheet" type="text/css" href="/css/color/green.css">
<link rel="stylesheet" type="text/css" href="/css/color/green.css" title="green">
<link rel="stylesheet" type="text/css" href="/css/color/light-red.css" title="light-red">
<link rel="stylesheet" type="text/css" href="/css/color/blue.css" title="blue">
<link rel="stylesheet" type="text/css" href="/css/color/light-blue.css" title="light-blue">
<link rel="stylesheet" type="text/css" href="/css/color/yellow.css" title="yellow">
<link rel="stylesheet" type="text/css" href="/css/color/light-green.css" title="light-green">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/autoComplete/auto.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Kaushan+Script' type='text/css'>
<link rel="stylesheet" href="/profileAssets/css/nav.css">
<link rel="stylesheet" href="/notification/css/notify.css">

<header>
  <nav class="navbar navbar-inverse navbar-expand-xl navbar-dark navbar-fixed-top" style="height:77px">


    <div class="navbar-header d-flex col">
      <a class="navbar-brand" href=""
        style="font-family:Kaushan Script,Helvetica Neue,Helvetica,Arial,cursive;font-size:36px;margin-top:8px;color:green">ELIFIND</a>
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
        class="navbar-toggle navbar-toggler ml-auto">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

      <form class="navbar-form form-inline" style="margin-top:17px;margin-left:190px" method="GET"
        action="/Profile/Search">
        <div class="input-group search-box" id="s" style="width:458px;">
          <input type="text" id="search" name="search" class="form-control design" placeholder="Search" style=""
            spellcheck="false" />
          <span class="input-group-addon" style="border-radius: 50px 0  0 50px !important;"><i class="material-icons"
              style="">&#xE8B6;</i></span>
        </div>
        <ul class="list-group" id="result">
        </ul>
      </form>


      <ul class="nav navbar-nav navbar-right ml-auto" style="font-size: 14px;">

        <li class="nav-item dropdown " style="font-size: 14px;margin-top:8px">
          <a href="/Profile/Timeline" class="nav-link dropdown-toggle user-action">Home</a>
        </li>
        <li class="nav-item dropdown" style="font-size: 14px;margin-top:8px">
          <a href="/Profile/Newsfeed" class="nav-link dropdown-toggle user-action">Newsfeed</a>
        </li>
        <li class="nav-item dropdown" style="font-size: 14px;margin-top:8px;color:cyan;pointer-events:none">
          <a href="/Profile/Newsfeed" class="nav-link dropdown-toggle user-action">|</a>
        </li>

        <li class="nav-item dropdown" style="font-size: 14px;margin-top:7px">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
            <i class="icon ion-android-person" style="font-size:25px"> </i>
          </a>
        </li>
        <li class="nav-item dropdown" style="font-size: 14px;margin-top:7px">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
            <i class="icon ion-chatbubble" style="font-size:25px"> </i>
          </a>
        </li>
        <li class="nav-item dropdown" style="font-size: 14px;margin-top:7px;width:62.1px" id="notify">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action" id="notify-open">
            <i class="icon ion-android-notifications" style="font-size:26px"> </i>
            
          </a>
          
          <div class="notification_wrap" id="notify-holder">
           
          </div>


        </li>
        <li class="nav-item dropdown" style="font-size: 14px;">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
            {{#if Pimage}}
            <img src="data:image/png;base64, {{Pimage}} " id="i" alt="user" name="user" class="avatar" />

            {{else}}
            <img src="/profileAssets/images/male.jpg" id="i" alt="user" name="user" class="avatar" />

            {{/if}}



            {{#if user}}
            {{user.FirstName}} {{user.LastName}}
            {{else if companyDetails}}
            {{companyDetails.CompanyName}}
            {{else}}
            {{loggedInUser.FirstName}} {{loggedInUser.LastName}} {{loggedInUser.CompanyName}}
            {{/if}}
            <b class="caret"></b></a>

          <ul class="dropdown-menu">
            <li><a href="/Profile" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></li>
            <li><a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></li>
            <li class="divider dropdown-divider"></li>
            <li>
              <form method="POST" action="/Logout" id="formLogout">
                <a href="javascript:document.getElementById('formLogout').submit();" style="text-decoration: none;"
                  id="navI" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script id="msg-template" type="text/x-handlebars-template">
  <div class="popup-box chat-popup" id="qnimate">
  <div class="popup-head">
  <div class="popup-head-left pull-left">
	  
	  \{{#data.dp}}
                  <img src="data:image/png;base64, \{{data.dp}}"/>
    \{{/data.dp}}

    \{{^data.dp}}
                   <img src="/profileAssets/images/male.jpg"/>
                  
    \{{/data.dp}}
	  
	   \{{data.FirstName}} \{{data.LastName}} \{{data.CompanyName}}
     
     </div>
  <div class="popup-head-right pull-right">
  <div class="btn-group">
  <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
  <i class="glyphicon glyphicon-cog"></i> </button>
  <ul role="menu" class="dropdown-menu pull-right">
  <li><a href="#">Media</a></li>
  <li><a href="#">Block</a></li>
  <li><a href="#">Clear Chat</a></li>
  </ul>
  </div>
						
  <button  id="closeChatBox" onclick="" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
  </div>
  </div>
 
  <div class="popup-messages" id="popupMsg">
     <div class="chat-box-single-line">
  <abbr class="timestamp">January 6th, 2020</abbr>
 <div class="direct-chat-messages" id="i" >
<div class="direct-chat-msg doted-border" id="displayMessage">


</div>

 </div>
  
  </div>
 
  </div>
  <div class="popup-messages-footer">
    <form id="msgForm">
  <input name="msgText" type="text" autocomplete="off" placeholder="Type your message here..."style="1px solid #b0b0b0" class="form-control">
  </form>
  <div class="btn-footer">
  <button class="bg_none"><i class="glyphicon glyphicon-film"></i> </button>
  <button class="bg_none"><i class="glyphicon glyphicon-camera"></i> </button>
  <button class="bg_none" id="att"><i class="glyphicon glyphicon-paperclip"></i> </button>
  <button class="bg_none pull-right"><i class="glyphicon glyphicon-thumbs-up"></i> </button>
  </div>
  </div>
  </div>
  </script>



<script id="msg" type="text/x-handlebars-template">

  \{{#data}}
  <div class="direct-chat-info clearfix">
   \{{#u1}}
  <span class="direct-chat-name pull-left">\{{user1.FirstName}} \{{user1.LastName}} \{{user1.CompanyName}}</span>
   \{{/u1}}

   \{{#u2}}
      <span class="direct-chat-name pull-left">\{{user2.FirstName}} \{{user2.LastName}} \{{user2.CompanyName}}</span>
   \{{/u2}}

   \{{^u1}}
     \{{^u2}}
      <span class="direct-chat-name pull-left">\{{FirstName}} \{{LastName}} \{{CompanyName}}</span>
     \{{/u2}}
   \{{/u1}}

  </div>
      
      \{{#u1}}
       \{{#user1.dp}}
      <img src="data:image/png;base64, \{{user1.dp}} " id="i" alt="user" name="user" class="direct-chat-img" />
        \{{/user1.dp}}
        \{{^user1.dp}}
        <img src="/profileAssets/images/male.jpg" class="direct-chat-img"/>
        \{{/user1.dp}}
      \{{/u1}}
       
      \{{#u2}}
       \{{#user2.dp}}
        <img src="data:image/png;base64, \{{user2.dp}} " id="i" alt="user" name="user" class="direct-chat-img" />
       \{{/user2.dp}}
       \{{^user2.dp}}
        <img src="/profileAssets/images/male.jpg" class="direct-chat-img"/>
       \{{/user2.dp}}
      \{{/u2}}
      
     \{{^u1}}
      \{{^u2}}
       \{{#dp}}
        <img src="data:image/png;base64, \{{dp}} " id="i" alt="user" name="user" class="direct-chat-img" />
       \{{/dp}}
       \{{^dp}}
        <img src="/profileAssets/images/male.jpg" class="direct-chat-img"/>
       \{{/dp}}
      \{{/u2}}
     \{{/u1}}


      \{{#Message}}
  <div class="direct-chat-text">
  \{{Message}}
  
  </div>
  \{{/Message}}
  \{{#Attachment}}
  <div class="direct-chat-text" style="padding: 0px;">
    \{{#Type.image}}
  <img src="data:image;base64, \{{Attachment}}" style="width:209px"/>
  \{{/Type.image}}
  \{{#Type.pdf}}
  
   <object style="padding:0px;" width="209px" height="128.8px" data="data:application/pdf;base64, \{{Attachment}}">
    
  </object>
  \{{/Type.pdf}}
    \{{#Type.txt}}
  
   <object style="padding:0px;" width="209px" height="128.8px" data="data:text/plain;base64, \{{Attachment}}">
    
  </object>
  \{{/Type.txt}}
  
  </div>
  \{{/Attachment}}
  <div class="direct-chat-info clearfix">
  <span class="direct-chat-timestamp pull-right">\{{time}}</span>
  </div>
 
\{{/data}}
\{{#error}}
  <div class="direct-chat-info clearfix">
    <div class="alert alert-warning" role="alert">
     \{{error}}
  </div>
    
  </div>
  \{{/error}}
  

</script>


<script id="clogged" type="text/x-handlebars-template">
{{#if user}}
{{user._id}}
{{else if company}}
{{company._id}}
{{else}}
{{loggedInUser._id}}
{{/if}}
</script>

<script id="notify-list-item" type="text/x-handlebars-template">
 
 <div class="dropdown ddl" id="notify-tray" data-simplebar>   
 \{{#Notifications}}
   <div class="notify_item">
     <div class="notify_img">
       <img src="data:image/png;base64,\{{Dp}}" alt="profile_pic" style="width: 50px">
     </div>
       <div class="notify_info">
        <p \{{#unless Read}} style="font-weight: bold;" \{{/unless}}>
          <a href="/Profile/View/\{{NotifiedBy}}/Timeline" class="notify-link"><strong class="setColor">\{{FirstName}} \{{LastName}} \{{CompanyName}}</strong></a> \{{Notification}} \{{NotificationAbout}} 
         \{{#if MediaName}}
              <a href=
               \{{#ifEquals NotificationAbout "project"}}
                 "/Profile/Projects"
               \{{/ifEquals}}
               \{{#ifEquals NotificationAbout "portfolio"}}
                 "/Profile/Portfolios"
               \{{/ifEquals}}
               \{{#ifEquals NotificationAbout "company"}}
                 "/Profile/View/\{{Owner}}/Timeline"
               \{{/ifEquals}}
                class="notify-link"><strong class="setColor">  \{{MediaName}} </strong></a>  
         \{{/if}}
         \{{#if Welcome}}
          <a href="/Profile/View/\{{NotifiedBy}}/Timeline" class="notify-link">
          <strong class="setColor">\{{CompanyName}}</strong></a>
         \{{/if}}  
           </p>
        <span class="notify_time">\{{time}}</span>
      </div>
    </div>
 \{{/Notifications}}
 \{{^Notifications}}
     <div class="notify_item">
        <div class="notify_info">
           <p class="no-notification"> <strong>Sorry! No notifications found! </strong></p>
        </div>
     </div>
 \{{/Notifications}}
 </div>
</script>
<script id="badge-template" type="text/x-handlebars-template">

    <span class="badge" id="badgeValue">\{{value}}</span>

</script>


<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/count-to.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/cbpAnimatedHeader.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.fitvids.js"></script>
<script src="/js/styleswitcher.js"></script>
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/script.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/autoComplete/auto.js"></script>
<script src="/js/mustache.js"></script>
<script src="/js/handlebars.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/chat/js/chat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.6.2/simplepeer.min.js"></script>
<script src="/hireMe/js/hire.js"></script>
<script src="/notification/js/notifyMe.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
